In [35]:
import pandas as pd
import numpy as np

In [36]:
df_sucio = pd.read_csv('saldo_migratorio_interprovincial_por_semestre,_provincia,_sexo_y_generacion_(edad_a_31_de_diciembre).csv', encoding = 'latin1', on_bad_lines='skip', sep=';')

In [37]:
df_sucio

        Provincias         Sexo Generación Periodo  Total
0      02 Albacete  Ambos sexos    16 años  2021S1     -2
1      02 Albacete  Ambos sexos    16 años  2020S2      3
2      02 Albacete  Ambos sexos    16 años  2020S1      5
3      02 Albacete  Ambos sexos    16 años  2019S2      4
4      02 Albacete  Ambos sexos    16 años  2019S1     -4
...            ...          ...        ...     ...    ...
26671   52 Melilla  Ambos sexos    34 años  2010S1      6
26672   52 Melilla  Ambos sexos    34 años  2009S2     19
26673   52 Melilla  Ambos sexos    34 años  2009S1     -7
26674   52 Melilla  Ambos sexos    34 años  2008S2      9
26675   52 Melilla  Ambos sexos    34 años  2008S1    -15

[26676 rows x 5 columns]

In [38]:
años_si = ['2020S2', '2020S1']

In [39]:
df_sucio_semestres = df_sucio[df_sucio['Periodo'].isin(años_si)]

In [40]:
df_sucio_semestres

        Provincias         Sexo Generación Periodo  Total
1      02 Albacete  Ambos sexos    16 años  2020S2      3
2      02 Albacete  Ambos sexos    16 años  2020S1      5
28     02 Albacete  Ambos sexos    17 años  2020S2      0
29     02 Albacete  Ambos sexos    17 años  2020S1     -4
55     02 Albacete  Ambos sexos    18 años  2020S2     12
...            ...          ...        ...     ...    ...
26597   52 Melilla  Ambos sexos    32 años  2020S1    -14
26623   52 Melilla  Ambos sexos    33 años  2020S2    -24
26624   52 Melilla  Ambos sexos    33 años  2020S1    -12
26650   52 Melilla  Ambos sexos    34 años  2020S2    -27
26651   52 Melilla  Ambos sexos    34 años  2020S1     -3

[1976 rows x 5 columns]

In [41]:
df_casi_limpio = df_sucio_semestres.groupby(by = 'Provincias', as_index=False).sum().sort_values(by = 'Total', ascending=False)
df_casi_limpio

                   Provincias  Total
27                  28 Madrid   1362
16                  17 Girona    730
37  38 Santa Cruz de Tenerife    626
18             19 Guadalajara    574
42               43 Tarragona    534
14               15 Coruña, A    509
44                  45 Toledo    506
6           07 Balears, Illes    467
11      12 Castellón/Castelló    376
28                  29 Málaga    363
45       46 Valencia/València    344
38               39 Cantabria    323
24                  25 Lleida    277
21                  22 Huesca    259
30                 31 Navarra    207
35              36 Pontevedra    195
19                20 Gipuzkoa    160
47                 48 Bizkaia    103
43                  44 Teruel    102
40                 41 Sevilla     91
2         03 Alicante/Alacant     11
41                   42 Soria    -14
49                50 Zaragoza    -19
0              01 Araba/Álava    -27
4                    05 Ávila    -28
39                 40 Segovia    -35
34             35 Palmas, Las    -39
31                 32 Ourense    -48
8                   09 Burgos    -58
15                  16 Cuenca    -79
25               26 Rioja, La    -81
26                    27 Lugo    -83
48                  49 Zamora    -96
46              47 Valladolid   -109
32                33 Asturias   -110
29                  30 Murcia   -132
17                 18 Granada   -164
33                34 Palencia   -180
10                   11 Cádiz   -228
20                  21 Huelva   -232
36               37 Salamanca   -291
1                 02 Albacete   -309
50                   51 Ceuta   -318
51                 52 Melilla   -339
3                  04 Almería   -353
12             13 Ciudad Real   -358
9                  10 Cáceres   -371
23                    24 León   -415
5                  06 Badajoz   -427
13                 14 Córdoba  -1054
22                    23 Jaén  -1058
7                08 Barcelona  -1064

In [42]:
los_no = ['38 Santa Cruz de Tenerife', '35 Palmas, Las']

In [43]:
df_casi_limpio = df_casi_limpio[df_casi_limpio['Provincias'].isin(los_no) == False]

In [44]:
provincias = ['Madrid', 'Girona', 'Guadalajara', 'Tarragona', 'A Coruña', 'Toledo', 'Illes Balears', 'Castelló/Castellón', 'Málaga', 'València/Valencia', 'Cantabria', 'Lleida', 'Huesca', 'Navarra', 'Pontevedra', 'Gipuzkoa', 'Bizkaia', 'Teruel', 'Sevilla', 'Alacant/Alicante', 'Soria', 'Zaragoza', 'Araba/Álava', 'Ávila', 'Segovia', 'Ourense', 'Burgos', 'Cuenca', 'La Rioja', 'Lugo', 'Zamora', 'Valladolid', 'Asturias', 'Murcia', 'Granada', 'Palencia', 'Cádiz', 'Huelva', 'Salamanca', 'Albacete', 'Ceuta', 'Melilla', 'Almería', 'Ciudad Real', 'Cáceres', 'León', 'Badajoz', 'Córdoba', 'Jaén', 'Barcelona']

In [46]:
df_casi_limpio['Provincias_bien'] = provincias

C:\Users\anabe\AppData\Local\Temp/ipykernel_13556/3811243023.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_casi_limpio['Provincias_bien'] = provincias

In [49]:
df_casi_limpio = df_casi_limpio.drop('Provincias', axis = 1)

In [53]:
df_casi_limpio

    Total     Provincias_bien
27   1362              Madrid
16    730              Girona
18    574         Guadalajara
42    534           Tarragona
14    509            A Coruña
44    506              Toledo
6     467       Illes Balears
11    376  Castelló/Castellón
28    363              Málaga
45    344   València/Valencia
38    323           Cantabria
24    277              Lleida
21    259              Huesca
30    207             Navarra
35    195          Pontevedra
19    160            Gipuzkoa
47    103             Bizkaia
43    102              Teruel
40     91             Sevilla
2      11    Alacant/Alicante
41    -14               Soria
49    -19            Zaragoza
0     -27         Araba/Álava
4     -28               Ávila
39    -35             Segovia
31    -48             Ourense
8     -58              Burgos
15    -79              Cuenca
25    -81            La Rioja
26    -83                Lugo
48    -96              Zamora
46   -109          Valladolid
32   -110            Asturias
29   -132              Murcia
17   -164             Granada
33   -180            Palencia
10   -228               Cádiz
20   -232              Huelva
36   -291           Salamanca
1    -309            Albacete
50   -318               Ceuta
51   -339             Melilla
3    -353             Almería
12   -358         Ciudad Real
9    -371             Cáceres
23   -415                León
5    -427             Badajoz
13  -1054             Córdoba
22  -1058                Jaén
7   -1064           Barcelona

In [56]:
df_casi_limpio = df_casi_limpio.rename(columns={'Provincias_bien': 'Provincias'})
df_casi_limpio = df_casi_limpio.reset_index()

In [58]:
df_casi_limpio = df_casi_limpio.drop('index', axis = 1)

In [60]:
df_casi_limpio.to_csv('saldo_migratorio_interprovincial_por_semestre,_provincia,_sexo_y_generacion_(edad_a_31_de_diciembre)_limpio.csv', index = False)