In [1]:
import pandas as pd
import numpy as np

In [2]:
df_sucio = pd.read_csv('tasa_de_empleo_de_las_personas_de_25_a_49_anos_sin_hijos-con_hijos_menores_de_12_anos_segun_periodo.csv', encoding = 'latin1', sep = ';')

In [3]:
df_sucio

        Sexo Número de hijos  Periodo Total
0    Hombres       Sin hijos     2020  82,5
1    Hombres       Sin hijos     2019  85,3
2    Hombres       Sin hijos     2018  84,7
3    Hombres       Sin hijos     2017  83,0
4    Hombres       Sin hijos     2016  81,2
..       ...             ...      ...   ...
115  Mujeres         3 ó más     2013  47,0
116  Mujeres         3 ó más     2012  47,0
117  Mujeres         3 ó más     2011  47,6
118  Mujeres         3 ó más     2010  47,6
119  Mujeres         3 ó más     2009  45,0

[120 rows x 4 columns]

In [4]:
años = [2020]

In [5]:
df_sucio = df_sucio[df_sucio['Periodo'].isin(años)]

In [6]:
df_sucio

        Sexo Número de hijos  Periodo Total
0    Hombres       Sin hijos     2020  82,5
12   Hombres       Con hijos     2020  87,8
24   Hombres               1     2020  87,4
36   Hombres               2     2020  89,6
48   Hombres         3 ó más     2020  81,3
60   Mujeres       Sin hijos     2020  72,1
72   Mujeres       Con hijos     2020  67,2
84   Mujeres               1     2020  68,9
96   Mujeres               2     2020  67,2
108  Mujeres         3 ó más     2020  49,4

In [7]:
df_sucio['Total'] = df_sucio['Total'].map(lambda x: x.replace(',', '.')).astype(float)

C:\Users\anabe\AppData\Local\Temp/ipykernel_22204/1268658460.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Total'] = df_sucio['Total'].map(lambda x: x.replace(',', '.')).astype(float)

In [15]:
df_sucio_hombres = df_sucio[0:5]
df_sucio_hombres.rename(columns = {'Total': 'Total hombres'}, inplace=True)
df_sucio_hombres.reset_index(drop=True, inplace=True)

C:\Users\anabe\anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [16]:
df_sucio_mujeres = df_sucio[5:]
df_sucio_mujeres.rename(columns = {'Total': 'Total mujeres'}, inplace=True)
df_sucio_mujeres.reset_index(drop=True, inplace=True)

In [17]:
d = pd.concat([df_sucio_hombres, df_sucio_mujeres], axis=1, ignore_index=False)

In [20]:
d

,Sexo,Número de hijos,Periodo,Total hombres,Sexo,Número de hijos,Periodo,Total mujeres,Diferencia
0,Hombres,Sin hijos,2020,82.5,Mujeres,Sin hijos,2020,72.1,10.4
1,Hombres,Con hijos,2020,87.8,Mujeres,Con hijos,2020,67.2,20.6
2,Hombres,1,2020,87.4,Mujeres,1,2020,68.9,18.5
3,Hombres,2,2020,89.6,Mujeres,2,2020,67.2,22.4
4,Hombres,3 ó más,2020,81.3,Mujeres,3 ó más,2020,49.4,31.9

In [19]:
d.insert (8, "Diferencia", d['Total hombres'] - d['Total mujeres'])