In [26]:
import pandas as pd

In [27]:
html = pd.read_html('file:///C:/Users/anabe/OneDrive/Escritorio/master/tfm/datos/Emancipaci%C3%B3n/P%C3%A1ginas%20idealista/Hist%C3%B3rico%20de%20precios%20de%20venta%20en%20Espa%C3%B1a%20%E2%80%94%20idealista.html')

In [28]:
df = html[0]

In [29]:
df

,Mes,Precio m2,Variación mensual,Variación trimestral,Variación anual
0,Abril 2022,1.853 €/m2,"+ 1,5 %","+ 1,6 %","+ 3,3 %"
1,Marzo 2022,1.825 €/m2,"+ 0,6 %","- 0,2 %","+ 2,3 %"
2,Febrero 2022,1.814 €/m2,"- 0,6 %","- 0,9 %","+ 2,4 %"
3,Enero 2022,1.824 €/m2,"- 0,3 %","+ 0,5 %","+ 2,1 %"
4,Diciembre 2021,1.829 €/m2,"- 0,1 %","+ 0,9 %","+ 2,8 %"
...,...,...,...,...,...
191,Mayo 2006,1.937 €/m2,"+ 0,2 %","- 1,8 %",n.d.
192,Abril 2006,1.934 €/m2,"- 0,9 %","- 2,1 %",n.d.
193,Marzo 2006,1.951 €/m2,"- 1,1 %",n.d.,n.d.
194,Febrero 2006,1.972 €/m2,"- 0,2 %",n.d.,n.d.
195,Enero 2006,1.975 €/m2,n.d.,n.d.,n.d.

In [32]:
df.to_csv('evolucion_precios_vivienda_compra.csv', index=False)