In [2]:
import pandas as pd

In [3]:
html = pd.read_html('file:///C:/Users/anabe/OneDrive/Escritorio/master/tfm/datos/Emancipaci%C3%B3n/P%C3%A1ginas%20idealista/Hist%C3%B3rico%20de%20precios%20de%20alquiler%20en%20Espa%C3%B1a%20%E2%80%94%20idealista.html')

In [6]:
df = html[0]

In [7]:
df

,Mes,Precio m2,Variación mensual,Variación trimestral,Variación anual
0,Abril 2022,"10,9 €/m2","+ 1,2 %","+ 2,2 %","+ 1,1 %"
1,Marzo 2022,"10,8 €/m2","+ 0,2 %","+ 1,9 %","- 0,1 %"
2,Febrero 2022,"10,7 €/m2","+ 0,8 %","+ 2,1 %","- 0,9 %"
3,Enero 2022,"10,6 €/m2","+ 0,9 %","+ 1,3 %","- 2,8 %"
4,Diciembre 2021,"10,6 €/m2","+ 0,4 %","+ 0,1 %","- 4,5 %"
...,...,...,...,...,...
191,Mayo 2006,"9,3 €/m2","- 0,5 %","- 2,1 %",n.d.
192,Abril 2006,"9,4 €/m2","+ 1,1 %","- 1,6 %",n.d.
193,Marzo 2006,"9,3 €/m2","- 2,7 %",n.d.,n.d.
194,Febrero 2006,"9,5 €/m2","- 0,1 %",n.d.,n.d.
195,Enero 2006,"9,5 €/m2",n.d.,n.d.,n.d.

In [8]:
df.to_csv('evolucion_precios_vivienda_alquiler.csv', index=False)