In [43]:
import pandas as pd
import numpy as np

In [44]:
df_sucio = pd.read_csv('graduados_universitarios_segun_el_tiempo_transcurrido_desde_que_acabaron_la_carrera_hasta_que_encontraron_su_primer_empleo_por_sexo_y_edad.csv', encoding = 'latin1', sep=';')

In [45]:
df_sucio

,Sexo,Edad,Tiempo transcurrido desde que acabaron la carrera hasta su primer empleo,Total
0,Hombres,Menores de 30 años,Continuó al menos 6 meses más en el trabajo qu...,"11,4"
1,Hombres,Menores de 30 años,Menos de tres meses,"28,1"
2,Hombres,Menores de 30 años,De 3 a 6 meses,"11,6"
3,Hombres,Menores de 30 años,De 6 meses a 1 año,"14,1"
4,Hombres,Menores de 30 años,De 1 año a año y medio,"13,1"
5,Hombres,Menores de 30 años,De 1 año y medio a 2 años,"7,2"
6,Hombres,Menores de 30 años,2 o más años,"14,5"
7,Hombres,De 30 a 34 años,Continuó al menos 6 meses más en el trabajo qu...,"22,6"
8,Hombres,De 30 a 34 años,Menos de tres meses,"28,8"
9,Hombres,De 30 a 34 años,De 3 a 6 meses,"14,5"
10,Hombres,De 30 a 34 años,De 6 meses a 1 año,"12,9"
11,Hombres,De 30 a 34 años,De 1 año a año y medio,"8,8"
12,Hombres,De 30 a 34 años,De 1 año y medio a 2 años,"5,4"
13,Hombres,De 30 a 34 años,2 o más años,"6,9"
14,Mujeres,Menores de 30 años,Continuó al menos 6 meses más en el trabajo qu...,"13,9"
15,Mujeres,Menores de 30 años,Menos de tres meses,"25,3"
16,Mujeres,Menores de 30 años,De 3 a 6 meses,"12,9"
17,Mujeres,Menores de 30 años,De 6 meses a 1 año,"14,3"
18,Mujeres,Menores de 30 años,De 1 año a año y medio,"13,1"
19,Mujeres,Menores de 30 años,De 1 año y medio a 2 años,"7,3"
20,Mujeres,Menores de 30 años,2 o más años,"13,2"
21,Mujeres,De 30 a 34 años,Continuó al menos 6 meses más en el trabajo qu...,"29,4"
22,Mujeres,De 30 a 34 años,Menos de tres meses,"22,2"
23,Mujeres,De 30 a 34 años,De 3 a 6 meses,"12,3"
24,Mujeres,De 30 a 34 años,De 6 meses a 1 año,"12,8"
25,Mujeres,De 30 a 34 años,De 1 año a año y medio,"9,0"
26,Mujeres,De 30 a 34 años,De 1 año y medio a 2 años,"5,7"
27,Mujeres,De 30 a 34 años,2 o más años,"8,7"

In [46]:
df_sucio['Total'] = df_sucio['Total'].apply(lambda x: x.replace(',', '.')).astype(float)

In [47]:
df_sucio

,Sexo,Edad,Tiempo transcurrido desde que acabaron la carrera hasta su primer empleo,Total
0,Hombres,Menores de 30 años,Continuó al menos 6 meses más en el trabajo qu...,11.4
1,Hombres,Menores de 30 años,Menos de tres meses,28.1
2,Hombres,Menores de 30 años,De 3 a 6 meses,11.6
3,Hombres,Menores de 30 años,De 6 meses a 1 año,14.1
4,Hombres,Menores de 30 años,De 1 año a año y medio,13.1
5,Hombres,Menores de 30 años,De 1 año y medio a 2 años,7.2
6,Hombres,Menores de 30 años,2 o más años,14.5
7,Hombres,De 30 a 34 años,Continuó al menos 6 meses más en el trabajo qu...,22.6
8,Hombres,De 30 a 34 años,Menos de tres meses,28.8
9,Hombres,De 30 a 34 años,De 3 a 6 meses,14.5
10,Hombres,De 30 a 34 años,De 6 meses a 1 año,12.9
11,Hombres,De 30 a 34 años,De 1 año a año y medio,8.8
12,Hombres,De 30 a 34 años,De 1 año y medio a 2 años,5.4
13,Hombres,De 30 a 34 años,2 o más años,6.9
14,Mujeres,Menores de 30 años,Continuó al menos 6 meses más en el trabajo qu...,13.9
15,Mujeres,Menores de 30 años,Menos de tres meses,25.3
16,Mujeres,Menores de 30 años,De 3 a 6 meses,12.9
17,Mujeres,Menores de 30 años,De 6 meses a 1 año,14.3
18,Mujeres,Menores de 30 años,De 1 año a año y medio,13.1
19,Mujeres,Menores de 30 años,De 1 año y medio a 2 años,7.3
20,Mujeres,Menores de 30 años,2 o más años,13.2
21,Mujeres,De 30 a 34 años,Continuó al menos 6 meses más en el trabajo qu...,29.4
22,Mujeres,De 30 a 34 años,Menos de tres meses,22.2
23,Mujeres,De 30 a 34 años,De 3 a 6 meses,12.3
24,Mujeres,De 30 a 34 años,De 6 meses a 1 año,12.8
25,Mujeres,De 30 a 34 años,De 1 año a año y medio,9.0
26,Mujeres,De 30 a 34 años,De 1 año y medio a 2 años,5.7
27,Mujeres,De 30 a 34 años,2 o más años,8.7

In [48]:
df_sucio = df_sucio.groupby(by = ['Tiempo transcurrido desde que acabaron la carrera hasta su primer empleo'], as_index = False).mean()

In [49]:
df_sucio

,Tiempo transcurrido desde que acabaron la carrera hasta su primer empleo,Total
0,2 o más años,10.825
1,Continuó al menos 6 meses más en el trabajo qu...,19.325
2,De 1 año a año y medio,11.000
3,De 1 año y medio a 2 años,6.400
4,De 3 a 6 meses,12.825
5,De 6 meses a 1 año,13.525
6,Menos de tres meses,26.100

In [50]:
trabajo_no = ['Continuó al menos 6 meses más en el trabajo que tenía mientras estudiaba']

In [51]:
df_sucio = df_sucio[df_sucio['Tiempo transcurrido desde que acabaron la carrera hasta su primer empleo'].isin(trabajo_no) == False]

In [52]:
df_sucio

,Tiempo transcurrido desde que acabaron la carrera hasta su primer empleo,Total
0,2 o más años,10.825
2,De 1 año a año y medio,11.000
3,De 1 año y medio a 2 años,6.400
4,De 3 a 6 meses,12.825
5,De 6 meses a 1 año,13.525
6,Menos de tres meses,26.100

In [19]:
df_sucio = df_sucio.groupby(by = 'Tiempo transcurrido desde que acabaron la carrera hasta su primer empleo', as_index=False).mean()

In [20]:
df_sucio

,Tiempo transcurrido desde que acabaron la carrera hasta su primer empleo,Total
0,2 o más años,5.15350
1,De 1 año a año y medio,5.16775
2,De 1 año y medio a 2 años,2.96150
3,De 3 a 6 meses,5.71225
4,De 6 meses a 1 año,6.11600
5,Menos de tres meses,11.56675